{% section 'header' %}
<main class="space-y-0">
  {% section 'hero' %}
  {% section 'featured-categories' %}
  {% section 'testimonials' %}
  {% section 'blog-posts' %}
  {% section 'newsletter' %}
</main>
{% section 'footer' %}
